.register {
  display: grid;
  place-items: center;
  height: 100%;
}
.register > form {
  width: 75%;
  display: grid;
  place-items: center;
}
.register h1 {
  margin: 20px 0;
  text-align: center;
}
.name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}
.text {
  font-size: 12px;
  line-height: 15px;
  width: 75%;
  margin: 10px auto;
}
