.container {
  width: 100%;
  height: 200px;
  display: flex;
  column-gap: 20px;
  padding: 22px 15px;
  overflow-x: hidden;
  transition: 0.2s ease-in-out;
}

.container:hover {
  overflow-x: auto;
}
.up {
  overflow-x: hidden;
}
.down {
  overflow-x: auto;
}

.container.down::-webkit-scrollbar {
  height: 0;
}

.category {
  display: grid;
  grid-template-rows: 1fr 1fr 0.6fr;
  place-items: center;
  min-width: 75px;
  height: 145px;
  background: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
  padding: 8px 0;
  cursor: pointer;
}
.category:hover {
  background: #c8161d;
  color: white;
}
.category__image {
  position: relative;
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 7px;
}
