.container {
  display: grid;
  grid-template-rows: 35px 1fr;
  grid-template-columns: 1fr;

  width: 100%;
  min-height: 325px;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.viewAll {
  color: #c8161d;
  font-size: 12px;
  display: flex;
  align-items: center;
}
